@import '../styles/common/variables';
@import '../styles/common/mixins';
@import '../styles//common/typography';

.canvas-cont {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, $aqua, $light-sky);
  position: relative;
  transition: all 200ms linear;

  &.loaded {
    background: linear-gradient(to top, $golden, $light-sky);
  }
}

.canvas {
  height: 100%;
  width: 100%;
}

.audio {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  outline: none;
  background: transparent;
  height: 30px;
  width: 30px;
  padding: 0;
  background-image: url('/music-solid.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms linear;

  &:hover {
    transform: scale(1.5);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    height: 3px;
    width: 135%;
    border-radius: 2px;
    background: black;
    transform: rotate(20deg);
    transition: opacity 200ms linear;
  }

  &.playing {
    &:after {
      opacity: 0;
    }
  }
}

.credits-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  padding: 0;
  transition: opacity 200ms linear;

  &.creditsOpen {
    opacity: 0;
  }
}
